*{
	font-family: 'Source Code Pro', serif;
	font-weight: normal;
	font-size: 1.25em;
}
#main{
	margin: auto;
	width: 75%;
	text-align: center;
}
h1{
	margin: 40px;
}
img{
	height: 200px;
	border-top:3px solid;
	margin: 3px;
}

@media screen and (max-width: 1290px) {
	img{
		height: 150px;
	}
}
@media screen and (max-width: 1000px) {
	#main{
		width: 90%;
	}
}
@media screen and (max-width: 850px) {
	*{
		font-size: 1.1em;
	}
	h1{
		margin: 15px;
	}
	#main{
		width: 55%;
	}
	img{
		height: auto;
		width: 200px;
	}
}
